footer.container-fliud
  div(style="text-align:center")
      i.fa.fa-facebook.social
      i.fa.fa-twitter.social
      i.fa.fa-instagram.social
      i.fa.fa-envelope.social
  .container-fluid
    .row
      .col-lg-3.col-md-4.col-sm-12.col-xs-12
        ul
            li Some Stupid Things.
      .col-lg-3.col-md-4.col-sm-12.col-xs-12
        ul
            li Some Stupid Things.
      .div(class="col-lg-6 col-md-4 col-sm-12 col-xs-12", style="text-align:right") Project 
        br 
        | by Nirmal Khedkar (181IT230),
        br 
        | Mukesh Kumar (181IT228) and
        br 
        | Yash Parakh (181IT253)