doctype html
head
  meta(charset='UTF-8')
  title= error.status
  link(rel='stylesheet' href='/stylesheets/error.css')
// partial:index.partial.html
.overlay.overlay--scanline
.overlay.overlay--vignette
.flex-full-justify
  .flex-inner
    .text-center
      h1= error.status
    h3.text-center= message
    p #{error.stack}