doctype html
head
  meta(charset='UTF-8')
  title Welcome to AgriBazaar
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  link(rel='stylesheet' href='/stylesheets/login.css')
section.user
  .user_options-container
    .user_options-text
      .user_options-unregistered
        h2.user_unregistered-title Sign In
        p.user_unregistered-text
          | Welcome Back!
        button#signup-button.user_unregistered-signup I don't have an account
      .user_options-registered
        h2.user_registered-title Don't have an account?
        p.user_registered-text
          | Sign up to India's biggest Direct Farmer to Consumer Marketplace. We promise to not misuse your personal information!
        button#login-button.user_registered-login I have an account
    #user_options-forms.user_options-forms
      .user_forms-login
        form(action="auth" method="POST")
          h2.forms_title Login
          form.forms_form
            fieldset.forms_fieldset
              .forms_field
                input.forms_field-input(type='username' placeholder='Username' required='' autofocus='')
              .forms_field
                input.forms_field-input(type='password' placeholder='Password' required='')
            .forms_buttons
              button.forms_buttons-forgot(type='button') Forgot password?
              input.forms_buttons-action(type='submit' value='Log In')
      .user_forms-signup
        h2.forms_title Sign Up
        form.forms_form
          fieldset.forms_fieldset
            .forms_field
              input.forms_field-input(type='text' placeholder='Full Name' required='')
            .forms_field
              input.forms_field-input(type='email' placeholder='Email' required='')
            .forms_field
              input.forms_field-input(type='password' placeholder='Password' required='')
          .forms_buttons
            input.forms_buttons-action(type='submit' value='Sign up')
script(src='/javascripts/login.js')