i.fa.social {
    font-size: 25px!important;
    margin-left: 0.25em;
    margin-right: 0.25em;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin-bottom: 1em;
}

footer {
    color: white;
    background-color: rgb(0, 93, 168);
    padding: 2em;
    width: 100%;
}

.navbar {
    background-color: #54c59f;
    color: white;
}

.navbar-brand:before {
    content: '\1F33E';
}

footer li:before {
    content: '\1F9C5';
    margin-left: -20px;
    margin-right: 10px;
}

.section-heading {
    font-family: 'Quicksand', sans-serif;
    margin-top: 2em;
}
a, a:active, a:focus{
    outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
}