doctype html
head
  meta(charset='UTF-8')
  title Welcome to AgriBazaar
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css',
     integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/login.css')
section.user
  .user_options-container
    .user_options-text
      .user_options-unregistered
        h2.user_unregistered-title Sign In
        p.user_unregistered-text
          | Welcome Back!
        button#signup-button.user_unregistered-signup I don't have an account
      .user_options-registered
        h2.user_registered-title Don't have an account?
        p.user_registered-text
          | Sign up to India's biggest Direct Farmer to Consumer Marketplace. We promise to not misuse your personal information!
        button#login-button.user_registered-login I have an account
    #user_options-forms.user_options-forms
      #login.user_forms-login
        h2.forms_title Login
        form.forms_form(role="form" method="post" action="/login")
          fieldset.forms_fieldset
            .forms_field
              input.forms_field-input(type='name'  name="user_email" placeholder='Email or Username' required='' autofocus='')
            .forms_field
              input.forms_field-input(type='password' name="user_password" placeholder='Password' required='')
          if level=="danger"
            .alert.alert-danger(role="alert") #{message}
          else if level=="warning"
            .alert.alert-warning(role="alert") #{message}
          label Remember me for 30 days
            input(type="checkbox" name="remember")
            span.checkmark

          .forms_buttons
            button.forms_buttons-forgot(type='button') Forgot password?
            input.forms_buttons-action(type='submit' value='Log In')
      #signup.user_forms-signup
        h2.forms_title Sign Up
        form.forms_form(role="form" method="post" action="/signup")
          fieldset.forms_fieldset
            .forms_field
              input.forms_field-input(name="Rusername" type='text' placeholder='Username' required='')
            .forms_field
              input.forms_field-input(name="Rfullname" type='text' placeholder='Full Name' required='')
            .forms_field
              input.forms_field-input(name="Remail" type='email' placeholder='Email' required='')
            .forms_field
              input.forms_field-input(name="Rpassword" type='password' placeholder='Password' required='')
            .forms_field
              textarea.forms_field-input(style="resize:vertical" name="Raddress" type="text" placeholder="Address" required='')
            .forms_field
              input(type="radio" id="buyer" name="Rrole" checked="checked" value="shopper")
              label Buyer
              input(type="radio" id="farmer" name="Rrole" value="farmer")
              label Farmer
          .forms_buttons(style="margin-bottom:2em")
            input.forms_buttons-action(type='submit' value='Sign up')
script(src='/javascripts/login.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')