extends ../layout
block content
  if itemSellers
    table
      tr
        th Farmer Name
        th Price
        th Maximum Available
        th Buy!
      for itemSeller in itemSellers
        tr
          td #{itemSeller.sellerName}
          td #{itemSeller.pricePerItem} #{itemSeller.unit}
          td #{itemSeller.quantity}
          if accname
            td
              a(href="/cart") Add to Cart
          else
            td
              a(href="/auth") Login to add to cart